<%= form_for(@fuelprice) do |f| %>
  <% if @fuelprice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuelprice.errors.count, "error") %> prohibited this fuelprice from being saved:</h2>

      <ul>
      <% @fuelprice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
