<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>Customer price management</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
		<link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="../jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css" type="text/css" />
    <link rel="stylesheet" href="../css/theme1.css" type="text/css" />
    <script type="text/javascript" src="../jquery-1.9.1.js"></script>
	  <script type="text/javascript" src="../jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="../jqwidgets/jqxmenu.js"></script> 
    <script type="text/javascript" src="../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxbuttongroup.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxmaskedinput.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxgrid.columnsresize.js"></script>
		<script type="text/javascript" src="../jqwidgets/jqxchart.js"></script>
    <script type="text/javascript" src="../js/spin.js"></script>
    
		<style>
			.ui-dialog-titlebar
			{
				background-color: #BBC8F9;
				border-top-color: #BBC8F9;
				border-left-color: #BBC8F9;
				border-right-color: #BBC8F9;
				border-bottom-color: #BBC8F9;
				border: #FFFFFF;
				background: -webkit-gradient(linear, left top, left bottom, from(#bbc8f9), to(#fff));
			}
			
			.ui-widget input,
			.ui-widget select,
			.ui-widget textarea,
			.ui-widget button {
				font-size: 20px;
			}
			
		</style>
	
		<% @title="Customer Price Management" %>
		
    <script type="text/javascript" src="../js/prices.js"></script>
    
    <script type="text/javascript">

      var theme = 'theme1';
      var fuelprices = JSON.parse('<%= @fuelprices.gsub(/\],/,"\],\\\n").gsub(/\},/,"\},\\\n").gsub(/\\\"/,"&quot;").gsub(/\'/,%q(\\\')).html_safe %>');
      var pricelist = '<%= params[:id] %>';

      $(document).ready(function () {
      	griddata = prepareGridData(fuelprices);
      	showGrid(griddata);
      	createChart(fuelprices);
      	initializePriceDialog();
      	initializeAlertDialog();
     	});
        
    </script>
</head>

<body class='default'>
<div id='root' class="ui-widget">
	<table style="width:100%;height:100%">
	<caption style = "text-align:center;font-size:20px"><b><%= params[:id] %> Customer Price Management</b></caption>
		<tr style="height:50%">
			<td style="width:5%"></td>
			<td style="width:90%">
				<div id="PriceGrid"></div>
			</td>
			<td style="width:5%"></td>
		</tr>
		<tr style="height:50%">
			<td style="width:5%"></td>
			<td style="width:90%">
				<div id="PriceChart" style="width:100%;height:500px"></div>
			</td>
			<td style="width:5%"></td>
		</tr>
	</table			
</div>
<div id="PriceDialog" style="height: 100%; padding: 0; margins: 0;">
	<table style = "height:100%;width:100%">
		<tr style = "height:20%"></tr>
		<tr style = "height:60%">
			<td style = "width:15%"></td>
			<td style = "width:70%">
				<table>			
					<tr>
						<td style = "font-size: 16px;">Enter price for:</td>
					</tr>
					<tr>
						<td style = "font-size: 16px;" id="DialogProduct"></td>
					</tr>
					<tr>
						<td style = "font-size: 16px;">on: <span style = "font-size: 16px;" id="DialogDate"></span></td>
					</tr>
				</table>
			</td>
			<td style = "width:15%"></td>
		</tr>
		<tr style = "height:20%">
			<td style = "width:15%"></td>
			<td style = "width:70%">
				<input type="text" id="PriceInput" style="text-align: right;" ></input>
			</td>
			<td style = "width:15%"></td>
		</tr>
	</table>
</div>
<div id="AlertDialog" style="height: 100%; padding: 0; margins: 0;">
	<table style = "height:100%;width:100%">
		<tr style = "height:100%">
			<td style = "width:15%"></td>
			<td style = "width:70%">
				<table>			
					<tr>
						<td style = "font-size: 16px;"><span id="AlertMsg"></span></td>
					</tr>
				</table>
			</td>
			<td style = "width:15%"></td>
		</tr>
	</table>
</div>
</body>
</html>
