<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>Customer price offset management</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
		<link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css" type="text/css" />
    <link rel="stylesheet" href="css/theme1.css" type="text/css" />
    <script type="text/javascript" src="jquery-1.9.1.js"></script>
	  <script type="text/javascript" src="jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="jqwidgets/jqxmenu.js"></script> 
    <script type="text/javascript" src="jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxbuttongroup.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxradiobutton.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxmaskedinput.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="js/spin.js"></script>
    
		<style>
			.ui-dialog-titlebar
			{
				background-color: #BBC8F9;
				border-top-color: #BBC8F9;
				border-left-color: #BBC8F9;
				border-right-color: #BBC8F9;
				border-bottom-color: #BBC8F9;
				border: #FFFFFF;
				background: -webkit-gradient(linear, left top, left bottom, from(#bbc8f9), to(#fff));
			}
			
			.ui-widget input,
			.ui-widget select,
			.ui-widget textarea,
			.ui-widget button {
				font-size: 20px;
			}
			
		</style>
	
		<% @title="Customer Price Offset Management" %>
		
    <script type="text/javascript" src="js/offsets.js"></script>
    
    <script type="text/javascript">

      var theme = 'theme1';
      var data2 = '<%= @customers %>';
			var data = '<%= @customers.gsub(/,/,",\\\n").gsub(/\'/,%q(\\\')).html_safe %>';
			var origCustList = JSON.parse(data).sort(custSortFunc);
			var custList = JSON.parse(data).sort(custSortFunc);
			// this is ugly - all i'm trying to do is remove 'sales - ' from the name and i am recreating the whole dang thing - fix this!!
      var productgroups = JSON.parse('<%= @productgroups.gsub(/\],/,"\],\\\n").gsub(/\},/,"\},\\\n").gsub(/\\\"/,"&quot;").gsub(/\'/,%q(\\\')).html_safe %>').map(function(productgroup) {
      	return {'lId': productgroup['lId'], 'sName': productgroup['sName'].replace('Sales - ',''), 'items': productgroup['items'] }; } ).sort(custSortFunc);
      var offsets = JSON.parse('<%= @offsets.gsub(/\],/,"\],\\\n").gsub(/\},/,"\},\\\n").gsub(/\\\"/,"&quot;").gsub(/\'/,%q(\\\')).html_safe %>');
//      items = [].concat.apply([], items).sort(itemSortFunc);
//      var toitems = []
      var tocust = []
      var toproductgroups = [];

      $(document).ready(function () {
        var custFromSource = createCustFromSource();
        var custFromDataAdapter = new $.jqx.dataAdapter(custFromSource);
        createCustFromList(custFromDataAdapter);
        
        var custToSource = createCustToSource();
        var custToDataAdapter = new $.jqx.dataAdapter(custToSource);
        createCustToList(custToDataAdapter);
        
        var itemFromSource = createItemFromSource();
        var itemFromDataAdapter = new $.jqx.dataAdapter(itemFromSource);
        createItemFromList(itemFromDataAdapter);
//				createAccountFromList();
        
        var itemToSource = createItemToSource();
        var itemToDataAdapter = new $.jqx.dataAdapter(itemToSource);
        createItemToList(itemToDataAdapter);
        
        setButtonEvents();
        initOffsetInput();
        setButtonEnabling();
        initializeOffsetDialog();
        initDialogOffsetInput();
        initializeAlertDialog();
        $("#GridTable").hide();
     	});
        
    </script>
</head>

<body class='default'>
<div id='root' class="ui-widget">
	<table style="width:100%;height:100%">
	<caption style = "text-align:center;font-size:20px"><b>Customer Offset Management</b></caption>
		<tr>
			<td style="width:15%"></td>
			<td style="width:70%">
				<table style="width:100%;height:500px;table-layout:fixed">
					<tr style="height:40%">
						<td>
							<table style="width:100%">
								<tr>
									<td style="width:50%">
										<table style="width:100%">
											<tr>
												<td style="width:40%"><span style="font-size:16px;text-align:center;width:100%;display:block">Customer Selection</span></td>
												<td style="width:50px"></td>
												<td style="width:40%"><span style="font-size:16px;text-align:center;width:100%;display:block">Customers to Apply To</span></td>
											</tr>
											<tr>
												<td style="width:40%">
													<div id="CustomerFromList" style="height:500px"></div>
												</td>							
												<td style="width:50px;height:100%"">
													<table style="width:100%;height:100%">
														<tr style="height:15%">
															<td style="width:100%;text-align:center;padding-bottom:20px"><span><input type="checkbox" name="status" value="Status" id="StatusCheckbox"><br>Status</span></td>
														</tr>
														<tr style="height:70%">
															<td>
																<div style="width:100%">
																	<table style="width:100%">
																		<tr>
																			<td style="text-align:center">
																				<button id="AddAllCustomers" style="width:40px">>></button>
																			</td>
																		</tr>
																		<tr>
																			<td style="text-align:center">
																				<button id="AddACustomer" style="width:40px">></button>
																			</td>
																		</tr>
																		<tr>
																			<td style="text-align:center">
																				<button id="RemoveACustomer" style="width:40px"><</button>
																			</td>
																		</tr>
																		<tr>
																			<td style="text-align:center">
																				<button id="RemoveAllCustomers" style="width:40px"><<</button>
																			</td>
																		</tr>
																	</table>
																</div>
															</td>
														</tr>
														<tr style="height:15%">
														</tr>
													</table>														
												</td>
												<td style="width:40%">
													<table style="width:100%">
														<tr>
															<td style="width:100%">
																<div id="CustomerToList" style="height:500px"></div>
															</td>
														</tr>
													</table>
												</td>							
											</tr>
										</table>
									</td>
									<td style="width:50%">
										<table style="width:100%">
											<tr>
												<td style="width:40%"><span style="font-size:16px;text-align:center;width:100%;display:block">Product Selection</span></td>
												<td style="width:50px"></td>
												<td style="width:40%"><span style="font-size:16px;text-align:center;width:100%;display:block">Products to Apply To</span></td>
											</tr>
											<tr>
												<td style="width:40%">
													<div id="ItemFromList"></div>
												</td>							
												<td style="width:50px">
													<div style="width:100%">
														<table style="width:100%">
															<tr>
																<td style="text-align:center">
																	<button id="AddAllItems" style="width:40px">>></button>
																</td>
															</tr>
															<tr>
																<td style="text-align:center">
																	<button id="AddAnItem" style="width:40px">></button>
																</td>
															</tr>
															<tr>
																<td style="text-align:center">
																	<button id="RemoveAnItem" style="width:40px"><</button>
																</td>
															</tr>
															<tr>
																<td style="text-align:center">
																	<button id="RemoveAllItems" style="width:40px"><<</button>
																</td>
															</tr>
														</table>
													</div>
												</td>
												<td style="width:40%">
													<div id="ItemToList"></div>
												</td>							
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table style="width:100%">
								<tr>
									<td style="width:30%;text-align:center">
										<table style="width:100%">
											<tr>
												<td style="text-align:center;align:center">
													<input type="radio" name="OffsetType" value="discount" checked><span style="font-size:16px">Discount</span>
												</td>
											</tr>
											<tr>
												<td style="text-align:center;align:center">
													<input type="radio" name="OffsetType" value="premium"><span style="font-size:16px">Premium</span>
												</td>
											</tr>
										</table>
									</td>
									<td style="width:40%;text-align:center;align:center">
			    	    		<input style='margin-top: 3px;width:350px;text-align:right;' id='OffsetInput' placeHolder="Amount"/>
									</td>
									<td style="width:30%">
										<table style="width:100%">
											<tr>
												<td style="text-align:center;align:center">
													<button id="ApplyOffset" style="width:170px">Apply Offsets</button>
												</td>
											</tr>
											<tr>
												<td style="text-align:center;align:center">
													<button id="RemoveOffset" style="width:170px">Remove Offsets</button>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table style="width:100%" id="GridTable">
								<tr>
									<td style="font-size:16px;text-align:center"><span>Existing price offsets for selected customers and products (premiums shown in </span><span style="color:#FF0000">red</span>)</td>
								</tr>
								<tr>
									<td style="text-align:center">
										<table style="width:100%;border-collapse:collapse;margin: 0 auto">
											<caption>Individual breakdowns are as shown below</caption>
											<tr>
												<td style="width:30%"></td><td style="border: 1px solid #aaa">Item name</td><td style="border: 1px solid #aaa">Base price</td><td style="border: 1px solid #aaa">New price</td><td style="width:30%"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<div id="OffsetGrid"></div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td style="width:15%"></td>
		</tr>
	</table>
</div>
<div id="OffsetDialog" style="height: 100%; padding: 0; margins: 0;">
	<table style = "height:100%;width:100%">
		<tr style = "height:20%"></tr>
		<tr style = "height:60%">
			<td style = "width:15%"></td>
			<td style = "width:70%">
				<table>			
					<tr>
						<td style = "font-size: 16px;">Enter offset change for:</td>
					</tr>
					<tr>
						<td style = "font-size: 16px;" id="DialogCustomer"></td>
					</tr>
					<tr>
						<td style = "font-size: 16px;">regarding: <span style = "font-size: 16px;" id="DialogProduct"></span></td>
					</tr>
				</table>
			</td>
			<td style = "width:15%"></td>
		</tr>
		<tr style = "height:20%">
			<td style = "width:15%"></td>
			<td style = "width:25%">
				<span style="display:inline-block">
				<table style="width:100%">
					<tr>
						<td style="text-align:center;align:center">
							<input type="radio" name="DialogOffsetType" value="discount" checked><span style="font-size:16px">Discount</span>
						</td>
					</tr>
					<tr>
						<td style="text-align:center;align:center">
							<input type="radio" name="DialogOffsetType" value="premium"><span style="font-size:16px">Premium</span>
						</td>
					</tr>
				</table>
				</span>
			</td>
			<td style="vertical-align:middle;width:40%">
				<input type="text" id="DialogOffsetInput" style="text-align: right;" ></input>
			</td>
			<td style = "width:20%"></td>
		</tr>
	</table>
</div>
<div id="AlertDialog" style="height: 100%; padding: 0; margins: 0;">
	<table style = "height:100%;width:100%">
		<tr style = "height:100%">
			<td style = "width:15%"></td>
			<td style = "width:70%">
				<table>			
					<tr>
						<td style = "font-size: 16px;"><span id="AlertMsg"></span></td>
					</tr>
				</table>
			</td>
			<td style = "width:15%"></td>
		</tr>
	</table>
</div>
</body>
</html>