<%= form_for(@ramcard) do |f| %>
  <% if @ramcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ramcard.errors.count, "error") %> prohibited this ramcard from being saved:</h2>

      <ul>
      <% @ramcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
