<%= form_for(@rackprice) do |f| %>
  <% if @rackprice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rackprice.errors.count, "error") %> prohibited this rackprice from being saved:</h2>

      <ul>
      <% @rackprice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
